<!DOCTYPE html>
<html>

  <head>
    <style>
      /* Style the header */
      .topbar {
        padding: 10px 16px;
        background: rgb(34, 80, 4);
        color: #f1f1f1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%
      }

      .header {
        padding: 10px 16px;
        background: rgb(34, 80, 4);
        color: #f1f1f1;
        position: relative;
        font-size: large;
        top: 0;
        left: 0;
        width: 100%
      }

      .menubar {
        padding: 1px 16px;
        background: #d4fcae;
        color: black;
        position: absolute;
        top: 20;
        left: 0;
        width: 100%
      }

      .column {
        float: left;
        width: 33.33%;
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }


      /* Page content */
      .content {
        padding: 16px;
      }

    </style>

    <style>
      body {font-family: Arial, Helvetica, sans-serif;}
      * {box-sizing: border-box;}

      .home-button {
        background-color: rgb(34, 80, 4); /*#6aa84f*/
        color: white;
        padding: 6px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        top: 23px;
        right: 28px;
        width: 80px;
      }

      /* Button used to open the contact form - fixed at the top of the page */
      .open-button {
        background-color: rgb(34, 80, 4); /*#6aa84f*/
        color: white;
        padding: 6px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        top: 23px;
        right: 28px;
        width: 80px;
      }

      /* The popup form - hidden by default */
      .form-popup {
        display: none;
        position: fixed;
        top: 0;
        right: 15px;
        border: 3px solid rgb(34, 80, 4);
        z-index: 9;
      }

      /* Add styles to the form container */
      .form-container {
        max-width: 285px;
        padding: 10px;
        background-color: #96d15f;
      }

      /* Full-width input fields */
      .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #d3f8a8;
      }

      /* When the inputs get focus, do something */
      .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #b3ec72;
        outline: none;
      }

      /* Set a style for the submit/login button */
      .form-container .btn {
        background-color: rgb(34, 80, 4);
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
      }

      /* Add a red background color to the cancel button */
      .form-container .cancel {
        background-color: red;
      }

      /* Add some hover effects to buttons */
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }
    </style>

    <style>
      h1 {text-align: center;}
    </style>
  </head>
  
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="topbar" id="topbar">
      <div class="header" id="myHeader">
        <h1><%= title %></h1>
        <!-- <p>Welcome to <%= title %></p> -->
      </div>
  
      <div class="menubar" id="menubar">
        <div class="column" style="text-align: right;">
          <button class="home-button" onclick="">Home</button>
          <h2>Home</h2>
        </div>
        <div class="column" style="text-align: center;">
          <h2>Menu</h2>
        </div>
        <div class="column" style="text-align: left;">
          <h2>View Cart</h2>
        </div>
      </div>
    </div>


    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->




    <p>The header will stick to the top when you reach its scroll position.</p>
    <p>Scroll back up to remove the sticky effect.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p><p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p><p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p><p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p><p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>





    <button class="open-button" onclick="openForm()">Login</button>
    <div class="form-popup" id="myForm">
      <form action="/action_page.php" class="form-container">
        <h1>Login</h1>
    
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="submit" class="btn">Login</button>
        <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>

    <script>
      function openForm() {
        document.getElementById("myForm").style.display = "block";
      }
  
      function closeForm() {
        document.getElementById("myForm").style.display = "none";
      }
    </script>

  </body>
  <script src="/javascripts/global.js"></script>
</html>
