<!DOCTYPE html>
<html>
  <head>
    <title>Track Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom Style Sheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
    <link rel='stylesheet' href="/stylesheets/navbar.css" />
  </head>

<body>
  <!-- Topbar -->
  <%- include('partials/topbar', {page: "Cart"});%>
  <div class="container">
      <div class="row text-center header2">
        <div class="col-sm-12">
            <h1>Order Details</h1>
        </div>
      </div>
      <div class="box">
        <div class="row">
            <div class="col-sm-12">
              <h1 class="sub-header">Ordered Items</h1>
              <ul class = "list">
              <% menuItems.forEach(function(menuItem) { %>
                  <li class= "cart-item"><%= menuItem.count %>x <%=menuItem.name%></li>
              <% }); %>
              </ul>
            </div>
        </div>
        <h1 class="sub-header">Payment and Tracking</h1>
        <ul class = "list" style = "line-height:20px;">
          <li class = "cart-item" style = "padding-bottom:0">
              $<%=order.price%> paid for with card ending in <%=cardNumber%> 
          </li>
          <li>
            Order placed at <%= order.time %>
          </li>
<<<<<<< HEAD
          <li>
            Pick up order at: <%=new Date(order.time .getTime() + order.timetopickup*60000);%>
          </li>
=======
          <!-- <li>
            Pick up order at: <%=new Date(order.time .getTime() + 20*60000);%>
          </li> -->
>>>>>>> 077435337bac33c239f579080f1dbacec762003c
          <div class="text-right" style="margin-right: 2.5%;">
            <form method="POST" action="/order/print">
              <input type="hidden" name="orderId" value="<%=order.id%>" />
              <input type="hidden" name="orderPrice" value="<%=order.price%>" />
              <input type="hidden" name="cardNumber" value="<%=cardNumber%>" />
              <input type="hidden" name="itemList" value="<% menuItems.forEach(function(menuItem) { %> <%= menuItem.count %>x <%=menuItem.name%> <% }); %>" />
              <input type="hidden" name="orderTime" value="<%= order.time %>" />
<<<<<<< HEAD
              <input type="hidden" name="pickupTime" value="<%=new Date(order.time .getTime() + order.timetopickup*60000);%>" />
              <input type="submit" id="orderButton" class="main-button" value="Print Receipt" />
=======
              <input type="hidden" name="pickupTime" value="<%=new Date(order.time .getTime() + 20*60000);%>" />
              <input type="submit" id="orderButton" class="main-button" value="Print Receipt" style = "width:auto"/>
>>>>>>> 077435337bac33c239f579080f1dbacec762003c
            </form>
          </div>
        </ul>
    </div>
  </div>
</body>
<script src="/javascripts/global.js"></script>
</html>