<!DOCTYPE html>
<html>
  <head>
    <title>Track Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom Style Sheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
    <link rel='stylesheet' href="/stylesheets/navbar.css" />
  </head>

  <style>
    ul {
      padding-left: 2%;
      width: 96%;
    }
    ul li {
      padding: 12px;
      font-size: 18px;
      display: block;
      position: relative;
    }
</style>
<body>
  <!-- Topbar -->
  <%- include('partials/topbar', {page: "Cart"});%>
  <div class="container">
      <div class="row text-center header2">
        <div class="col-sm-12">
            <h1>Order Details</h1>
        </div>
      </div>
      <div class="box">
        <div class="row">
            <div class="col-sm-12">
              <h1 class="sub-header">Ordered Items</h1>
              <ul>
              <% menuItems.forEach(function(menuItem) { %>
                  <li class= "cart-item"><%= menuItem.count %>x <%=menuItem.name%></li>
              <% }); %>
              </ul>
            </div>
        </div>
        <h1 class="sub-header">Payment and Tracking</h1>
        <ul style = "line-height:20px;">
          <li class = "cart-item" style = "padding-bottom:0">
              $<%=order.price%> paid for with card ending in <%=cardNumber%> 
          </li>
          <li>
            Order placed at <%= order.time %>
          </li>
          <li>
            Pick up order at: <%=new Date(order.time .getTime() + 20*60000);%>
          </li>
        </ul>
    </div>
  </div>
</body>
<script src="/javascripts/global.js"></script>
</html>