<!DOCTYPE html>
<html>

<head>
  <title>Menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom Style Sheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel='stylesheet' href="/stylesheets/navbar.css" />
</head>

<body>
  <%- include('partials/topbar', {page: "Order"});%>
  <div class="container" style="z-index: 0">
    <div class="row">
      <div class="col-sm-9">
        <h1>Menu</h1>
      </div>
    </div>
    <% menuItems.forEach(function(menuItem) { %>
      <div class="row menu-item container-fluid">
              <div class="col-9">
                    <div class="row">
                      <div class="col-7">
                        <div class="row">
                          <div class="menu-label">
                            <%=menuItem.name%>
                          </div>
                          <div class="menu-price"> - $<%=menuItem.price%>
                          </div>
                          <div class="text-danger" style="margin-top: 1.3vw; padding-left: 1em;">
                            <%=menuItem.inStock?"":"Out of stock"%>
                          </div>
                        </div>  
                      </div> 

                      <% if(menuItem.inStock) { %>
                        <div class="col-4">
                          <form action="/order/ordermenu" method="POST">
                            <input type="hidden" name="itemId" value="<%=menuItem.id%>" />
                            <input type="hidden" name="itemPrice" value="<%=menuItem.price%>" />
                            <input type="hidden" name="itemName" value="<%=menuItem.name%>" />
                          </form>
                        </div>

                      <% } %>
                    </div>
                    <div class="row menu-description">
                      <%=menuItem.description%>
                    </div>
              </div>
              <div class="col" style="margin-right: 0; padding-right: 0; text-align: right;">
                <img class=""  width="100vw" height="100vw" style="border-radius: 0px 25px 25px 0px;"
                  src="data:<%=menuItem.image.contentType%>;base64,<%=menuItem.image.data.toString('base64')%>" />
              </div>
          </div>
          <% }) %>
      </div>
</body>
<script src="/javascripts/global.js"></script>

</html>