<!DOCTYPE html>
<html>

<head>
  <title>Menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom Style Sheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel='stylesheet' href="/stylesheets/navbar.css" />
</head>

<body>
  <!-- Topbar-->
  <%- include('partials/topbar', {page: "Order" });%>
    <div class="container mt-3 justify-content-center">
      <div class="row">
        <div class="card-deck" style="margin:auto">
          <% menuItems.forEach(function(menuItem) { %>
            <div class="card mb-4 box" style="padding:0;min-width: 18rem; max-width: 18rem;">
              <img style = "border-radius: 25px 25px 25px 0px;"class="card-img-top"
                src="data:<%=menuItem.image.contentType%>;base64,<%=menuItem.image.data.toString('base64')%>"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                  <%=menuItem.name%>
                </h5>
                <div class="card-title"> - $<%=menuItem.price%>
                </div>
                <p class="card-text" style="line-height: 1em;">
                  <%=menuItem.description%>
                </p>
                <div class="text-danger">
                  <%=menuItem.inStock?"":"Out of stock"%>
                </div>
              </div>
            </div>
            <% }) %>
        </div>
      </div>
    </div>

</body>
<script src="/javascripts/global.js"></script>

</html>