<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom Style Sheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
    <link rel='stylesheet' href="/stylesheets/navbar.css" />

    <title>Customer Account Page</title>
  </head>
  <body>
    <!-- Topbar --> 
    <%- include('partials/topbar', {page: "EditMenu"});%>

  <div class="container">
      <div class="row">
        <div class="col-sm-9">
            <h1>Edit Menu Items</h1>
        </div>
        <div class="col-sm-3">
          <div class="float-right">
            <a href="/menu/addmenuitem">Add Item</a>
          </div>
        </div>
      </div>
      <% menuItems.forEach(function(menuItem) { %>
      <div class="row">
          <div class="col-sm-3">
              <img width="150px" height="150px" src="data:<%=menuItem.image.contentType%>;base64,<%=menuItem.image.data.toString('base64')%>" />
          </div>
          <div class="col-sm-9">
            <div class="float-right">
                <form action="/menu/editmenu" method="post">
                    <input type="submit" name="action" value="Edit"/>
                    <input type="submit" name="action" value="Delete"/>
                    <input type="hidden" value="<%=menuItem.id%>" name="toEdit"/>
                </form>
            </div>
            <div class="float-left">
              <div class="row">Name: <%=menuItem.name%></div>
              <div class="row">Description: <%=menuItem.description%></div>
              <div class="row">Price: <%=menuItem.price%></div>
              <div class="row"><%=menuItem.inStock?"In stock":"Out of stock"%></div> 
            </div>
          </div>
      </div>
      <% }) %>
  </div>
</body>
  <script src="/javascripts/global.js"></script>
</html>