<!DOCTYPE html>
<html>

<head>
  <title>Cart</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom Style Sheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel='stylesheet' href="/stylesheets/navbar.css" />

  <style>
    ul {
      padding-left: 2%;
      width: 96%;
    }

    ul li {

      border-bottom: 1px solid #000;
      padding: 12px;
      font-size: 18px;
      display: block;
      position: relative;
    }

    .priceDisplay {
      width: 100%;
    }

    .cartDiv {
      border-radius: 20px;
      border: 2px solid #000;
      background-color: #dfd;
      padding: 0;
    }

    .close {
      color: #aaa;

      cursor: pointer;

      position: absolute;
      top: 50%;
      right: 0%;

      padding: 6px 10px;
      transform: translate(0%, -50%);
    }

    .close:hover {
      color: #000;
    }
  </style>

</head>

<body>
  <!-- Topbar -->
  <%- include('partials/topbar', {page: "Cart"});%>
  <div class="box">
    <ul id="cartList">
      <% let subtotal=0 %>
        <% for (let itemId in cart) { console.log(itemId); %>
          <li>
            <form action="/users/cart" method="POST">
              <% let tempPrice=cart[itemId].price * cart[itemId].count; subtotal +=tempPrice; %>
                <%=cart[itemId].count%>x <%=cart[itemId].name%> <span style="position: absolute; right: 40px;">$
                      <%=tempPrice.toFixed(2)%> <input type="hidden" name="itemId" value="<%=itemId%>" />
                        <input type="submit" value="X" /></span>
            </form>
          </li>
          <% } %>
    </ul>
    <% let salesTax=subtotal * 0.05; let tip=subtotal*0.15; %>
      <div class="priceDisplay" id="subTotalDisplay"><span style="position: relative; left: 3%;">Subtotal: $<%=
            (subtotal).toFixed(2); %></span></div>
      <div class="priceDisplay" id="taxDisplay"><span style="position: relative; left: 3%;">Sales Tax: $<%=
            (salesTax).toFixed(2); %></span></div>
      <div class="priceDisplay" id="tipDisplay"><span style="position: relative; left: 3%;">Forced Tip: $<%=
            (tip).toFixed(2); %></span></div>
      <div class="priceDisplay" id="totalDisplay"><span style="position: relative; left: 3%;">Total: $<%= (subtotal +
            salesTax + tip).toFixed(2); %></span></div>
      <br />
  </div>
  <br />
  <div class="text-center align-center">
    <% if (subtotal> 0) { %>
      <form action="/order/startorder" method="POST">
        <input type="submit" id="orderButton" class="main-button text-center" value="Place Order" />
      </form>
      <% } %>
  </div>
</body>
<script src="/javascripts/global.js"></script>

</html>