<!DOCTYPE html>
<html>

<head>
  <title>Cart</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom Style Sheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel='stylesheet' href="/stylesheets/navbar.css" />

</head>

<body>
  <!-- Topbar -->
  <%- include('partials/topbar', {page: "Cart" });%>
    <div class="box">
      <h1 class="sub-header">Cart</h1>
      <ul class = "list" id="cartList">
        <% let subtotal=0 %>
          <% for (let itemId in cart) { console.log(itemId); %>
            <li>
              <form action="/users/cart" method="POST">
                <span class="cart-item">
                  <% let tempPrice=cart[itemId].price * cart[itemId].count; subtotal +=tempPrice; %>
                    <%=cart[itemId].count%>x <%=cart[itemId].name%>
                </span>
                <span class="cart-item2" style="float:right">$ <%=tempPrice.toFixed(2)%>
                    <input type="hidden" name="itemId" value="<%=itemId%>" />
                    <input style="width:20px; height:20px" type="image" value="X"
                      src="http://iconsetc.com/icons-watermarks/simple-black/bfa/bfa_trash-o/bfa_trash-o_simple-black_512x512.png" />
                </span>
              </form>
            </li>
            <% } %>
      </ul>
      <div style = "border-bottom: 1px solid #000;"></div>
      <% let salesTax=subtotal * 0.05; let tip=subtotal*0.15; %>
        <ul class = "list">
          <li class="priceDisplay cart-item" id="subTotalDisplay">
            <span style="position: relative; left: 3%;">Subtotal:</span>
            <span style = "float:right"> $<%= (subtotal).toFixed(2); %></span>
          </li>
          <li class="priceDisplay cart-item" id="taxDisplay">
            <span style="position: relative; left: 3%;">Sales Tax:</span>
            <span style = "float:right">$<%=(salesTax).toFixed(2); %></span>
          </li>
          <li class="priceDisplay cart-item" id="tipDisplay">
            <span style="position: relative; left: 3%;">Forced Tip:</span>
            <span style = "float:right">$<%= (tip).toFixed(2); %></span>
          </li>
          <li class="priceDisplay cart-item" id="totalDisplay">
            <span style="position: relative; left: 3%;">Total:</span>
            <span style = "float:right">$<%=(subtotal + salesTax + tip).toFixed(2); %></span>
            </li>
          <div class="text-right" style="margin-right: 2.5%;">
            <% if (subtotal> 0) { %>
              <form action="/order/startorder" method="POST">
                <input type="submit" id="orderButton" class="main-button mt-2 mb-3" value="Place Order" />
              </form>
              <% } %>
          </div>
        </ul>
    </div>
</body>
<script src="/javascripts/global.js"></script>

</html>