<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom Style Sheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
    <link rel='stylesheet' href="/stylesheets/navbar.css" />

    <title>Customer Account Page</title>
  </head>
  <body>
    <!-- Topbar --> 
    <%- include('partials/topbar', {page: "CustomerAccount"});%>

    <!-- Account update forms -->
    <div style="margin-top:2%;">
        <div class="box mt-3">
            <div class="row">
              <h1 class="sub-header"> Change username</h1>
            </div>
            
            <form style="margin: 0px;" method="POST" action="/users/updateusername">
                <div class="input-group mb-3">
                  <input name="newUsername" type="text" class="field form-control" value="<%=user.username%>">
                </div>
                
                <div class="text-right" style="margin-right: 2.5%;">
                    <input class="main-button mt-2 mb-3" type="submit" value="Update" />
                </div>
            </form>
        </div>

        <div class="box mt-3">
            <div class="row">
              <h1 class="sub-header"> Change password</h1>
            </div>
            
            <form style="margin: 0px;" method="POST" action="/users/updatepassword">
                <div class="input-group mb-3">
                  <input name="newPassword" type="password" class="field form-control" placeholder="New Password">
                </div>

                <div class="input-group mb-3">
                    <input name="confirmPassword" type="password" class="field form-control" placeholder="Confirm Password">
                  </div>
                
                <div class="text-right" style="margin-right: 2.5%;">
                    <input class="main-button mt-2 mb-3" type="submit" value="Update" />
                </div>
            </form>
        </div>

        <div class="box mt-3">
            <div class="row">
              <h1 class="sub-header"> Change Phone Number</h1>
            </div>
            
            <form style="margin: 0px;" method="POST" action="/users/updatephone">
                <div class="input-group mb-3">
                  <input name="newPhone" type="tel" class="field form-control" value="<%=user.phone%>">
                </div>
                
                <div class="text-right" style="margin-right: 2.5%;">
                    <input class="main-button mt-2 mb-3" type="submit" value="Update" />
                </div>
            </form>
        </div>

        <div class="box mt-3">
            <div class="row">
              <h1 class="sub-header"> Change Address</h1>
            </div>
            
            <form style="margin: 0px;" method="POST" action="/users/updateaddress">
                <div class="input-group mb-3">
                  <input name="address" type="text" class="field form-control" value="<%=user.address%>">
                </div>
                <div class="input-group mb-3">
                  <input name="aptsuite" type="text" class="field form-control" value="<%=user.aptsuite%>">
                </div>
                <div class="input-group row mb-3" style="margin-left: .2%;">
                  <input name="city" type="text" class="field form-control" value="<%=user.city%>">
                  <input name="state" type="text" class="field form-control" value="<%=user.state%>">
                  <input name="zip" type="text" class="field form-control" value="<%=user.zip%>">
                </div>
                
                <div class="text-right" style="margin-right: 2.5%;">
                    <input class="main-button mt-2 mb-3" type="submit" value="Update" />
                </div>
            </form>
        </div>
  </body>
  <script src="/javascripts/global.js"></script>
</html>

