<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom Style Sheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
    <link rel='stylesheet' href="/stylesheets/navbar.css" />

    <title>Customer Account Page</title>
  </head>
  <body>

    <div class="topbar">
        <!-- Webpage Title -->
        <h1 class="text-center logo">Badger Bytes</h1>

        <!-- Nav Bar -->
        <%- include('partials/navbar', {active: "CustomerAccount"});%>

    <!-- Account update forms -->
    <div style="margin-top:13%;">
        <form style="margin: 0px;" method="POST" action="/users/updateusername">
            <div class="box" style="margin-top: 20px;">
                <div class="row">
                    <div class="sub-header float-left" style="width: 77%">Change Username</div>

                    <div class="float-right" style="width: 20%" ><input class="main-button" type="submit" value="Update" /></div>
                </div>

                <label class="field-label" for="newUsername text-left">New Username</label>
                <input class="field" type="text" name="newUsername" value="<%=user.username%>">
            </div>
        </form>

        <form style="margin: 0px;" method="POST" action="/users/updatepassword">
            <div class="box" style="margin-top: 20px;">
                <div class="row">
                    <div class="sub-header float-left" style="width: 74%">Change Password</div>
        
                    <div class="pull-right" style="width: 20%"><input class="main-button float-right" type="submit" value="Update"/></div>
                </div>
        
                <label class="field-label text-left" for="newPassword">Password</label>
                <input class="field" type="password" name="newPassword" />
                
                <label class="field-label text-left" for="confirmPassword">Update</label>
                <input class="field" type="password" name="confirmPassword" />
            </div>
        </form>

        <form style="margin: 0px;" method="POST" action="/users/updatephone">
            <div class="box" style="margin-top: 20px;">
                <div class="row">
                    <div class="sub-header float-left" style="width: 74%">Change Phone Number</div>
        
                    <div class="pull-right" style="width: 20%" ><input class="main-button float-right" type="submit" value="Update" /></div>
                </div>
        
                <label class="field-label text-left" for="newPhone">New Phone Number</label>
                <input class="field" type="tel" name="newPhone" value="<%=user.phone%>">
            </div>
        </form>

        <form style="margin: 0px;" method="POST" action="/users/updateaddress">
            <div class="box" style="margin-top: 20px;">
                <div class="row">
                    <div class="sub-header float-left" style="width: 74%">Change Address</div>
        
                    <div class="pull-right" style="width: 20%" ><button class="main-button float-right" type="submit">Update</button></div>
                </div>
        
                <label class="field-label text-left" for="address">Address: </label>
                <input class="field" name="address" value="<%=user.address%>" required />
                <label class="field-label text-left" for="aptsuite">Apartment, suite, etc: </label>
                <input class="field" name="aptsuite" value="<%=user.aptsuite%>" />
                <label class="field-label text-left" for="city">City: </label>
                <input class="field" name="city" value="<%=user.city%>" required />
                <label class="field-label text-left" for="state">State/Province: </label>
                <input class="field" name="state" value="<%=user.state%>" required />
                <label class="field-label text-left" for="zip">Zip: </label>
                <input class="field" name="zip" type="number" value="<%=user.zip%>" required />
            </div>
        </form>
    </div>
    <!-- Bootstrap js links -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </body>
</html>

