<!DOCTYPE html>
<html>

<head>
  <title>Menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom Style Sheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel='stylesheet' href="/stylesheets/navbar.css" />
</head>

<body>
  <!-- Topbar -->
  <%- include('partials/topbar', {page: "Account"});%>
  <div class="container" style="z-index: 0">
    <div class="row pt-2 mb-4">
      <div class="col-sm-12">
        <h1 class="header2 text-center">Orders</h1>
      </div>
    </div>
    <!-- <div class="col-lg-1"></div> -->
    <div class="box col-lg-12" style="line-height: 1em; padding-right: 1vw; padding-left: 1vw; ">
      <% 
        for ( var i = orders.length - 1; i >= 0; i--){ 
          let order = orders[i] 
      %>
      <div class="row mb-4 align-items-center" style="padding-left: 1em;">
          <div class="col-sm-5">
              <%
              let numItems = 0;
              for (let menuId in order.menuItems) {
                  numItems += order.menuItems[menuId];
              }
              %>
              <%= numItems %> items ordered for $<%= order.price %>
          </div>
          <div class="col-sm-3">
              Status: <%= order.status %>
          </div>
          <button class="main-button col-2 mt-1 mb-1" type="button"><a class="link" href="/users/vieworder?order=<%=order.id%>">View</a></button>
      </div>
    
      <% } %>
    </div>
    <!-- <div class="col-lg-1"></div> -->
  </div>
</body>
<script src="/javascripts/global.js"></script>

</html>