<!DOCTYPE html>
<html>

<head>
    <title>View Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom Style Sheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
    <link rel='stylesheet' href="/stylesheets/navbar.css" />
</head>

<body>
    <!-- Topbar-->
    <%- include('partials/topbar', {page: "ViewUsers" });%>
        <div class="box container mt-3 justify-content-center" style="line-height: 2em;">
            <div class="row">
                <div class='col-lg-12'>
                    <div class="row tableHeader">
                        <div >
                           Contact
                        </div>
                        <div>
                           Username
                        </div>
                        <div >
                            Phone
                        </div>
                        <div>
                            Role
                        </div>
                    </div>
                    <% users.forEach(user=> { %>
                        <div class="row" style = "display: flex; flex-wrap: wrap; justify-content:space-around">
                            <div >
                                <a href="/messages/staffmessages?userId=<%=user._id%>" class="main-button mb-2">Contact User</a>
                            </div>
                            <div>
                                <%=user.username%>
                            </div>
                            <div >
                                <%=user.phone%>
                            </div>
                            <div>
                                <form action="/users/viewusers" method="POST">
                                    <input name="userId" value="<%=user._id%>" type="hidden" />
                                    <select name="role" class='form-control' onchange="this.form.submit()">
                                        <option value="admin" <%=user.role=="admin" ? 'selected' : '' %>>Admin
                                        </option>
                                        <option value="staff" <%=user.role=="staff" ? 'selected' : '' %>>Staff
                                        </option>
                                        <option value="user" <%=user.role=="user" ? 'selected' : '' %>>User
                                        </option>
                                    </select>
                                </form>
                            </div>
                            
                            
                        </div>
                        <div class = "divider" style = "border-bottom: 1px solid #000; margin-top:5px"></div>
                        <% }); %>                   
                </div>
            </div>
        </div>
    
</body>
<script src="/javascripts/global.js"></script>

</html>