<!DOCTYPE html>
<html>

<head>
  <title>Menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom Style Sheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel='stylesheet' href="/stylesheets/navbar.css" />
</head>

<body>
  <!-- Topbar -->
  <%- include('partials/topbar', {page: "orderlist"});%>
  <div class="container" style="z-index: 0">
    <div class="row pt-2 mb-4">
      <div class="col-sm-12">
        <h1 class="header2 text-center">Orders</h1>
      </div>
    </div>
    <div>
      <form method="POST" action="/staff/query">
        <label>Start date(on or after this date):</label>
        <input type="date" name="queryStartDate">
        <label>End date(before this date):</label>
        <input type="date" name="queryEndDate">
        <input type="submit" id="queryButton" class="main-button" value="Search" />
      </form>
    </div>
    <div class="col-lg-12 box orderlist" style="padding-left: 1em; padding-right: 1em; line-height: 1em;">
      <table style="width: 100%">
        <% orders.forEach(function(order){  %>
        <tr>
          <td>
            <%
              let numItems = 0;
              for (let menuId in order.menuItems) {
                  numItems += order.menuItems[menuId];
              }
            %>
            <%= numItems %> items ordered for $<%= order.price %>

          </td>
          <td class="text-center">
            Status: <%= order.status %>
          </td>
          <td class="text-center">
            <button class="main-button col-2 mt-1 mb-1" type="button"><a class="link" href="/staff/vieworder?order=<%=order.id%>">View</a></button>
            <!-- <a href="/staff/vieworder?order=<%=order.id%>">View Order</a> -->
          </td>
          <td class="text-right">
            <form action="/staff/orderlist" method="POST">
              <input type="hidden" name="orderId" value="<%=order.id%>" />
              Status: <select name="status" onchange="this.form.submit()">
                  <option value="preparing" <%= (order.status == 'preparing')? 'selected' : ''%>>Preparing</option>
                  <option value="delivering" <%= (order.status == 'delivering')? 'selected' : ''%>>Delivering</option>
                  <option value="complete" <%= (order.status == 'complete')? 'selected' : ''%>>Complete</option>
              </select>
            </form>
          </td>
        </tr>
        <% }); %>
      </table>
    </div>
  </div>
</body>
<script src="/javascripts/global.js"></script>

</html>