<!DOCTYPE html>
<html>

<head>
  <title>Menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom Style Sheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel='stylesheet' href="/stylesheets/navbar.css" />
</head>

<body>
  <!-- Topbar -->
  <%- include('partials/topbar', {page: "Cart"});%>
  <div class="container" style="z-index: 0">
    <div class="row pt-2 mb-4">
      <div class="col-sm-9">
        <h1>Orders</h1>
      </div>
    </div>
    <% orders.forEach(function(order){  %>
    <div class="row mb-4">
        <div class="col-sm-4">
            <%
            let numItems = 0;
            for (let menuId in order.menuItems) {
                numItems += order.menuItems[menuId];
            }
            %>
            <%= numItems %> items ordered for $<%= order.price %>
        </div>
        <div class="col-sm-4">
            Status: <%= order.status %>
        </div>
        <div class="col-sm-2">
            <a href="/staff/vieworder?order=<%=order.id%>">View Order</a>
        </div>
        <div class="col-sm-2">
          <form action="/staff/orderlist" method="POST">
            <input type="hidden" name="orderId" value="<%=order.id%>" />
            Status: <select name="status" onchange="this.form.submit()">
                <option value="preparing" <%= (order.status == 'preparing')? 'selected' : ''%>>Preparing</option>
                <option value="delivering" <%= (order.status == 'delivering')? 'selected' : ''%>>Delivering</option>
                <option value="complete" <%= (order.status == 'complete')? 'selected' : ''%>>Complete</option>
            </select>
        </form>
        </div>
    </div>
    <% }); %>
  </div>
</body>
<script src="/javascripts/global.js"></script>

</html>