<!DOCTYPE html>
<html>

<head>
  <title>Menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom Style Sheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel='stylesheet' href="/stylesheets/navbar.css" />
</head>

<body>
  <!-- Topbar -->
  <%- include('partials/topbar', {page: "usagereport" });%>

    <div class="container" style="z-index: 0">
      <div class="row pt-2 mb-4">
        <div class="col-sm-12">
          <h1 class="header2 text-center">Usage Report</h1>
        </div>
      </div>
      <div class="box row mb-3 mt-2" style="line-height: 2em;">
        <div class="col-sm-6">
          <form method="POST" action="/staff/getUsageReport">
            <div class="row">
              <div class="col-sm-6">
                <label>Start date(on or after this date):</label>
              </div>
              <div class="col-sm-6">
                <input type="date" name="queryStartDate">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label>End date(before this date):</label>
              </div>
              <div class="col-sm-6" style="width: 100vw;">
                <input type="date" name="queryEndDate">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label>Menu Item:</label>
              </div>
              <div class="col-sm-6">
                <select name="queryItem">
                  <% menuItems.forEach(function(menuItem) { %>
                    <option value="<%=menuItem.name%>">
                      <%=menuItem.name%>
                    </option>
                    <% }); %>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 pull-right">
                <input type="submit" id="queryButton" class="main-button mb-2" value="Get Report" />
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-6">
          Number of orders in time range: <%=orderCount%> <br />
            Number of orders with selected item: <%=itemOrderCount%> <br />
              Number of selected items: <%=itemCount%> <br />
                Total amount paid for item: $<%=itemTotalPaid%> <br />
        </div>
      </div>
      <div class="col-lg-12 box" style="padding-left: 1em; padding-right: 1em; line-height: 1em;">
        <% orders.forEach(function(order){ %>
          <div class="row">
            <div class="col-sm-3">
              <% let numItems=0; for (let menuId in order.menuItems) { numItems +=order.menuItems[menuId]; } %>
                <%= numItems %> items ordered for $<%= order.price %>
            </div>
            <div class="col-sm-3">
              <form action="/staff/usagereport/priority" method="POST">
                <input type="hidden" name="orderId" value="<%=order.id%>" />
                <label for="priority">Priority (1-3):</label>
                <input type="number" name="priority" min="1" max="3" value="<%=order.priority%>" onchange="this.form.submit()">
                </select>
              </form>
            </div>
            <div class="col-sm-3">
              <form action="/staff/orderlist" method="POST">
                <input type="hidden" name="orderId" value="<%=order.id%>" />
                Status: <select name="status" onchange="this.form.submit()">
                  <option value="preparing" <%=(order.status=='preparing' )? 'selected' : '' %>>Preparing</option>
                  <option value="delivering" <%=(order.status=='delivering' )? 'selected' : '' %>>Delivering</option>
                  <option value="complete" <%=(order.status=='complete' )? 'selected' : '' %>>Complete</option>
                </select>
              </form>
            </div>
            <div class="col-sm-3 text-right">
              <button class="main-button col-2 mt-1 mb-1" type="button"><a class="link"
                  href="/staff/vieworder?order=<%=order.id%>">View</a></button>
              <!-- <a href="/staff/vieworder?order=<%=order.id%>">View Order</a> -->
            </div>
          </div>
          <% }); %>
      </div>
    </div>
</body>
<script src="/javascripts/global.js"></script>

</html>