<!DOCTYPE html>
<html>

<head>
  <title>Track Order</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom Style Sheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
  <link rel='stylesheet' href="/stylesheets/navbar.css" />

  <link rel="stylesheet" href="jquery-ui.min.css">
  <script src="external/jquery/jquery.js"></script>
  <script src="jquery-ui.min.js"></script>
</head>

<body>
  <!-- Topbar -->
  <%- include('partials/topbar', {page: "Cart" });%>
    <div class="container">
      <div class="row text-center header2">
        <div class="col-sm-12">
          <h1>Order Details</h1>
        </div>
      </div>
      <div class="box">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="sub-header">Ordered Items</h1>
            <ul class = "list">
              <% menuItems.forEach(function(menuItem) { %>
                <li class="cart-item">
                  <%= menuItem.count %>x <%=menuItem.name%>
                </li>
                <% }); %>
            </ul>
          </div>
        </div>
        <h1 class="sub-header">Payment and Tracking</h1>
        <ul class = "list" style="line-height:20px;">
          <li>
            Total Price: $<%=order.price%>
          </li>
          <li>
            Card Holder: <%=card.holderName%>,
              Card Number: <%=card.cardNumber%>,
                CCV: <%=card.ccv%>,
                  Expires: <%=card.expirationMonth +"/"+card.expirationYear%>
                    <i>Surely this is illegal but I don't care anymore</i>
          </li>
          <li>
            <form action="/staff/vieworder" method="POST">
              <input type="hidden" name="orderId" value="<%=order.id%>" />
              Status: <select name="status" onchange="this.form.submit()">
                <option value="preparing" <%=(order.status=='preparing' )? 'selected' : '' %>>Preparing</option>
                <option value="delivering" <%=(order.status=='delivering' )? 'selected' : '' %>>Delivering</option>
                <option value="complete" <%=(order.status=='complete' )? 'selected' : '' %>>Complete</option>
              </select>
            </form>
          </li>
          <li>
            <% if (!order.pickup) { %>
              Deliver to: <%=currentUser.address%>
                <%=currentUser.aptsuite?currentUser.aptsuite+", ":" , "%><%=currentUser.city%>, <%=currentUser.state%>, <%=currentUser.zip%> (Phone: <%=currentUser.phone%>)
              <% } else { %>
                Ordered for pickup, car description: <%=order.car%>
              <% } %>
            </li>
            <li>
              Order placed at <%= order.time %>
            </li>
            <li></li>
          </ul>
          <div class="text-right" style="margin-right: 2.5%;">
            <a href="/messages/staffmessages?userId=<%=order.userId%>" class="main-button">Contact User</a>
            <form method="POST" action="/staff/printViewOrder" class = "mt-2">
              <input type="hidden" name="orderId" value="<%=order.id%>" />
              <input type="hidden" name="orderPrice" value="<%=order.price%>" />
              <input type="hidden" name="cardNumber" value="<%=(card.cardNumber%10000)%>" />
              <input type="hidden" name="itemList" value="<% menuItems.forEach(function(menuItem) { %> <%= menuItem.count %>x <%=menuItem.name%> <% }); %>" />
              <input type="hidden" name="orderTime" value="<%= order.time %>" />
              <input type="hidden" name="pickupTime" value="<%=new Date(order.time .getTime() + order.timetopickup*60000);%>" />
              <input type="submit" id="orderButton" class="main-button" value="Print Receipt" />
            </form>
          </div>
      </div>
      
    </div>
</body>
<script src=" /javascripts/global.js">
</script>

</html>