<!DOCTYPE html>
<html>
  <head>
    <title>Track Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom Style Sheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Nunito|Bebas Neue|Comfortaa">
    <link rel='stylesheet' href="/stylesheets/navbar.css" />

    <link rel="stylesheet" href="jquery-ui.min.css">
    <script src="external/jquery/jquery.js"></script>
    <script src="jquery-ui.min.js"></script>
  </head>

<body>
  <!-- Topbar -->
  <%- include('partials/topbar', {page: "Cart"});%>
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <h1>Order Details</h1>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
              <ul>
            <% menuItems.forEach(function(menuItem) { %>
                <li><%= menuItem.count %>x <%=menuItem.name%></li>
            <% }); %>
            </ul>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
              Total Price: $<%=order.price%>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            Card Holder: <%=card.holderName%>,
            Card Number: <%=card.cardNumber%>,
            CCV: <%=card.ccv%>,
            Expires: <%=card.expirationMonth +"/"+card.expirationYear%>
            <i>Surely this is illegal but I don't care anymore</i>
        </div>
    </div>
      <div class="row">
        <div class="col-sm-12">
            <form action="/staff/vieworder" method="POST">
                <input type="hidden" name="orderId" value="<%=order.id%>" />
                Status: <select name="status" onchange="this.form.submit()">
                    <option value="preparing" <%= (order.status == 'preparing')? 'selected' : ''%>>Preparing</option>
                    <option value="delivering" <%= (order.status == 'delivering')? 'selected' : ''%>>Delivering</option>
                    <option value="complete" <%= (order.status == 'complete')? 'selected' : ''%>>Complete</option>
                </select>
            </form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <% if (!order.pickup) { %>
              Deliver to: <%=orderUser.address%> <%=orderUser.aptsuite?orderUser.aptsuite+", ":", "%><%=orderUser.city%>, <%=orderUser.state%>, <%=orderUser.zip%> (Phone: <%=orderUser.phone%>)
            <% } else { %>
              Ordered for pickup, car description: <%=order.car%>
            <% } %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            Order placed at <%= order.time %>
        </div>
      </div>
  </div>
</body>
<script src="/javascripts/global.js"></script>
</html>